TezYonetimSistemi.Test/Connected Services/OgretmenService/OgretmenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OgretmenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55069/OgretmenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55069/OgretmenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55069/OgretmenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOgretmenService_OgretmenleriGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenleriGetir" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenleriGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenleriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenEkle" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenGuncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenGuncelle" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenGuncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenSil_InputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenSil" />
  </wsdl:message>
  <wsdl:message name="IOgretmenService_OgretmenSil_OutputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenSilResponse" />
  </wsdl:message>
  <wsdl:portType name="IOgretmenService">
    <wsdl:operation name="OgretmenleriGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenleriGetir" message="tns:IOgretmenService_OgretmenleriGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenleriGetirResponse" message="tns:IOgretmenService_OgretmenleriGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OgretmenEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenEkle" message="tns:IOgretmenService_OgretmenEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenEkleResponse" message="tns:IOgretmenService_OgretmenEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OgretmenGuncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenGuncelle" message="tns:IOgretmenService_OgretmenGuncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenGuncelleResponse" message="tns:IOgretmenService_OgretmenGuncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OgretmenSil">
      <wsdl:input wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenSil" message="tns:IOgretmenService_OgretmenSil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOgretmenService/OgretmenSilResponse" message="tns:IOgretmenService_OgretmenSil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOgretmenService" type="tns:IOgretmenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OgretmenleriGetir">
      <soap:operation soapAction="http://tempuri.org/IOgretmenService/OgretmenleriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OgretmenEkle">
      <soap:operation soapAction="http://tempuri.org/IOgretmenService/OgretmenEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OgretmenGuncelle">
      <soap:operation soapAction="http://tempuri.org/IOgretmenService/OgretmenGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OgretmenSil">
      <soap:operation soapAction="http://tempuri.org/IOgretmenService/OgretmenSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OgretmenService">
    <wsdl:port name="BasicHttpBinding_IOgretmenService" binding="tns:BasicHttpBinding_IOgretmenService">
      <soap:address location="http://localhost:55069/OgretmenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>