TezYonetimSistemi.Test/Connected Services/OgretmenService/OgretmenService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOgretmen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ogretmen" nillable="true" type="tns:Ogretmen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOgretmen" nillable="true" type="tns:ArrayOfOgretmen" />
  <xs:complexType name="Ogretmen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Unvan" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ogretmen" nillable="true" type="tns:Ogretmen" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OlusturmaTarihi" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
</xs:schema>