TezYonetimSistemi.Test/Connected Services/KullaniciService/KullaniciService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55069/KullaniciService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" />
  <xs:element name="KullanicilariGetir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KullanicilariGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" minOccurs="0" name="KullanicilariGetirResult" nillable="true" type="q1:ArrayOfKullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" minOccurs="0" name="kullanici" nillable="true" type="q2:Kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" minOccurs="0" name="KullaniciEkleResult" nillable="true" type="q3:Kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGuncelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" minOccurs="0" name="kullanici" nillable="true" type="q4:Kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" minOccurs="0" name="KullaniciGuncelleResult" nillable="true" type="q5:Kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciSil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" minOccurs="0" name="kullanici" nillable="true" type="q6:Kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciSilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciSilResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>