TezYonetimSistemi.Test/Connected Services/KullaniciService/KullaniciService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KullaniciService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55069/KullaniciService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55069/KullaniciService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55069/KullaniciService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TezYonetimSistemi.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKullaniciService_KullanicilariGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:KullanicilariGetir" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullanicilariGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullanicilariGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullaniciEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciEkle" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullaniciEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullaniciGuncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGuncelle" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullaniciGuncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullaniciSil_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciSil" />
  </wsdl:message>
  <wsdl:message name="IKullaniciService_KullaniciSil_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciSilResponse" />
  </wsdl:message>
  <wsdl:portType name="IKullaniciService">
    <wsdl:operation name="KullanicilariGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKullaniciService/KullanicilariGetir" message="tns:IKullaniciService_KullanicilariGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKullaniciService/KullanicilariGetirResponse" message="tns:IKullaniciService_KullanicilariGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKullaniciService/KullaniciEkle" message="tns:IKullaniciService_KullaniciEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKullaniciService/KullaniciEkleResponse" message="tns:IKullaniciService_KullaniciEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciGuncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IKullaniciService/KullaniciGuncelle" message="tns:IKullaniciService_KullaniciGuncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKullaniciService/KullaniciGuncelleResponse" message="tns:IKullaniciService_KullaniciGuncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciSil">
      <wsdl:input wsaw:Action="http://tempuri.org/IKullaniciService/KullaniciSil" message="tns:IKullaniciService_KullaniciSil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKullaniciService/KullaniciSilResponse" message="tns:IKullaniciService_KullaniciSil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKullaniciService" type="tns:IKullaniciService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullanicilariGetir">
      <soap:operation soapAction="http://tempuri.org/IKullaniciService/KullanicilariGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciEkle">
      <soap:operation soapAction="http://tempuri.org/IKullaniciService/KullaniciEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciGuncelle">
      <soap:operation soapAction="http://tempuri.org/IKullaniciService/KullaniciGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciSil">
      <soap:operation soapAction="http://tempuri.org/IKullaniciService/KullaniciSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KullaniciService">
    <wsdl:port name="BasicHttpBinding_IKullaniciService" binding="tns:BasicHttpBinding_IKullaniciService">
      <soap:address location="http://localhost:55069/KullaniciService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>